# JupyterLab

```javascript
var s = "JavaScript syntax highlighting";
alert(s);
```
 
```python
s = "Python syntax highlighting"
print(s)
```
 
```
No language indicated, so no syntax highlighting. 
But let's throw in a <b>tag</b>.
```

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [5]:
print("Hola Mundo")

Hola Mundo

In [6]:
print("Hola Mundo")

Hola Mundo

In [4]:
print("Hola Mundo")

Hola Mundo

# Python es no tipado!
## Variables primitivas

In [2]:
entero = 4
decimales = 1.1
nombre = "Josue"
#no utilizar el estandar de camelCase
segundo_nombre = "Nicolas" # segundoNombre --> MAL (Solo es pate de las buenas practicas)
apellido = "Arias"
casado = False
estudiante = True
hijos = None # en otros lenguajes se lo conoce como vacio o null

### Para verificar el tipo de dato de una variable se utiliza type()

In [11]:
print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(apellido))
print(type(casado))
print(type(estudiante))
print(type(hijos))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

### String con varias lineas

In [12]:
cadena_de_texto = """
Tables aren't part of the core Markdown spec, but they are part of GFM and Markdown Here supports them. 
They are an easy way of adding tables to your email -- a task that would otherwise require copy-pasting 
from another application.
"""
#Nota: de esta forma tambien se puede escribir comentarios con varias lineas
print(cadena_de_texto)
print(cadena_de_texto)

Tables aren't part of the core Markdown spec, but they are part of GFM and Markdown Here supports them.
They are an easy way of adding tables to your email -- a task that would otherwise require copy-pasting
from another application.

### Al ser un lenguaje no tipado una variable puede cambiar de tipo

In [3]:
print(entero)
entero =decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

4
Josue

### Condiciones
### Truty - Falsy

In [12]:
tuplas = (1,2,3) # Arreglos que no se pueden modificar
listas = [1,2,3] # Arreglos que se pueden modificar
diccionario = {
    "Nombre":"Nicolas"
}

# Para verificar si una variable esta vacía o si tiene un valor asignado (solo strings)

if '': #Falsy
    print('Truty para ""')
else:
    print('Falsy para ""')
    
if 'Nicolas': #Truty
    print('Truty para "Nicolas"')
else:
    print('Falsy para "Nicolas"')
    
# None type
variable = None
if(variable):
    print('Truty para None')
else:
    print('Falsy para None')

# Numeros
if(1):
    print('Truty para 1')
else:
    print('Falsy para 1')
if(0): #Falsy
    print('Truty para 0')
else:
    print('Falsy para 0')
if(-1): #Truty 
    print('Truty para -1')
else: 
    print('Falsy para -1')
    
# Decimales
if(1.1): #Truty
    print('Truty para 1.1')
else:
    print('Falsy para 1.1')
if(-1.2): #Truty
    print('Truty para -1.2')
else:
    print('Falsy para -1.2')
    
# Tuplas
if(()): #Falsy
    print('Truty para Tupla vacía')
else:
    print('Falsy para Tupla vacía')
if((1,2,3)): #Truty
    print('Truty para Tupla con valores')
else:
    print('Falsy para Tuplas con valores')
    
# Lista
if([]): #Falsy
    print('Truty para Lista vacía')
else:
    print('Falsy para Lista vacía')
if([1,2,3]): #Truty
    print('Truty para Lista con valores')
else:
    print('Falsy para Lista con valores')

# Diccionario
if({}): #Falsy
    print('Truty para Diccionario vacía')
else:
    print('Falsy para Diccionario vacía')
if({"nombre": "Nicolas"}): #Truty
    print('Truty para Diccionario con valores')
else:
    print('Falsy para Diccionario con valores')

Falsy para ""
Truty para "Nicolas"
Falsy para None
Truty para 1
Falsy para 0
Truty para -1
Truty para 1.1
Truty para -1.2
Falsy para Tupla vacía
Truty para Tupla con valores
Falsy para Lista vacía
Truty para Lista con valores
Falsy para Diccionario vacía
Truty para Diccionario con valores

### Listas

In [2]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #Definición de un arreglo

In [9]:
print(arreglo[0:3]) #[0:3] toma los valores del indice 0, 1 y 2 (el indice 3 se excluye)
print(arreglo[5:]) #Hasta el final
print(arreglo[:7]) #Desde el principio
print(arreglo[-5]) #Indice negativo empieza FINAL
print(arreglo[3:-2]) #Siempre omite el de  la derecha
print(arreglo[-8:8])
print(arreglo[-4:-1])
print(arreglo[-7:])
print(arreglo[:-3])
print(arreglo[::-1]) #Toda la lista

[1, 2, 3]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
6
[4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[7, 8, 9]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Tuplas

In [43]:
arregloTupla = (1,2,3,4,5,6,7,8,9,10)
arregloTupla[5:9]

(6, 7, 8, 9)

### Diccionarios

In [46]:
diccionario = {
    "Nombre":"Nicolas",
    "Apellido":"Arias",
    "suelado":1.2
}
diccionario["Nombre"]

'Nicolas'

#### In, forma de buscar un valor en un objeto (lista, tuplas, diccionarios)

In [62]:
print(10 in arreglo)
print("Nombre" in diccionario) #Para diccionarios se debe trabajar con las llaves

True
True

In [63]:
print(type(12 in arreglo))

<class 'bool'>

#### len, tamaño de un objeto (lista, tupla, diccionario)

In [65]:
print(len(arreglo))
print(len(arregloTupla))
print(len({}))

10
10
0

#### Funciones de una lista y tuplas

In [69]:
#arregloTupla[0] = 2 No se puede modificar los valores en una tuplas
arreglo[0] = 2
print(arreglo)

[2, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
#arreglo.pop(4) Remover un item en una posicion en especifico
#arreglo.append Agregar un elemento al final de la lista
#arreglo.insert(4) Agregar un elemento en una posicion en especifico

#### Iteradores

In [71]:
for numeroLista in arreglo:
    print(numeroLista)

2
2
3
4
5
6
7
8
9
10

In [72]:
for numeroTupla in arregloTupla:
    print(numeroTupla)

1
2
3
4
5
6
7
8
9
10

In [76]:
for x,y in diccionario.items():
    print(x,y)

Nombre Nicolas
Apellido Arias
suelado 1.2

In [79]:
contador = 0
while contador > -5:
    print(contador)
    contador -= 1

0
-1
-2
-3
-4

In [89]:
nicolas = {
    True: "Nicolas",
    False: "Arias",
    1: 12.2,
    1.1: 89,
    "edad": 31,
    "mascotas": [{"nombre":"cachetes"}],
    None: None
}

In [90]:
nicolas

{True: 12.2,
 False: 'Arias',
 1.1: 89,
 'edad': 31,
 'mascotas': [{'nombre': 'cachetes'}],
 None: None}

In [91]:
nicolas[True]

12.2

#### Modificiar y agregar valores en un diccionario

In [98]:
nicolas["edad"] = 22
nicolas["apellido"] = "Arias"
nicolas["mascotas"][0]["nombre"] = "Panda"
nicolas

{True: 12.2,
 False: 'Arias',
 1.1: 89,
 'edad': 22,
 'mascotas': [{'nombre': 'Panda'}],
 None: None,
 'apellido': 'Arias'}

In [99]:
nicolas.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [100]:
nicolas.values()

dict_values([12.2, 'Arias', 89, 22, [{'nombre': 'Panda'}], None, 'Arias'])

In [102]:
print(type(nicolas.keys()))

<class 'dict_keys'>

In [103]:
for llave in nicolas.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [104]:
for llave in nicolas.values():
    print(llave)

12.2
Arias
89
22
[{'nombre': 'Panda'}]
None
Arias

#### Comparación de valores

In [106]:
print(1 == 1 or 2 == 2)
print(1 != 1 and 2 != 2)

True
False